@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.topimageclass {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#topimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
}
.uphead {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  height: 80px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  border-radius: 5px;
  padding: 10px 50px;
  z-index: 10;
}
.enlogo {
  font-size: 25px;
  font-weight: 500;
  color: #a01626;
  background-color: transparent;
  transition: transform 0.3s linear;
}
.enlogo:hover {
  transform: scale(1.1);
}
#focusbutton {
  border: none;
  padding: 1vh 1vw;
  font-size: 1vw;
  font-weight: 600;
  border-radius: 5%;
  background-color: #a01626;
  color: #dadad9;
  transition: transform 0.3s linear;
}
#focusbutton:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.rightnav {
  /* padding-right: 40px; */
  display: flex;
}
#logountar {
  width: 58px;
}
.topquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -65%);
  gap: 2vh;
}
.topquote p {
  font-weight: 900;
  font-size: 2vw;
}
.topquote button {
  border: none;
  padding: 1.5vh 1.5vw;
  font-size: 0.85vw;
  font-weight: 600;
  border-radius: 5%;
}
#quotebutton{
  transition: transform 0.3s linear;
}
#quotebutton:hover {
  cursor: pointer;
  transform: scale(1.3);
}

/* tutor  */

.tutor1 {
  width: 100%;
  margin-top: -100px;
  max-width: 1100px;
  max-height: 495px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.tutor-1 {
  width: 100%;
  max-width: 1100px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.judul-feature {
  align-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .tutor1 {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    flex-direction: column;
    overflow-y: scroll;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .judul-feature {
    align-content: center;
    text-align: center;
  }
  .tutor-1 {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
  }
}
/*focus research*/
.focusresearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  text-align: center;
  margin: 15vh 15vw;
  padding: 5vh;
  border-radius: 10px;
  background-color: #4c4c4c;
  gap: 2vh;
}
.focusresearch p {
  width: 60vw;
}
#brains {
  width: 25vw;
}

/*about and contact*/
.aboutncontact {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  margin-top: 250px;
}
#ourteam {
  font-size: 2vw;
}
.theteam {
  display: flex;
  gap: 7vw;
  width: 70vw;
  height: fit-content;
}
.brenda,
.eryca,
.gea {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  /* width: 100px; */
  text-align: center;
  font-size: 1vw;
  gap: 3vh;
  background-color: #999898;
}

#deve {
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
#deve img {
  width: 100%;
  height: auto;
}

.contactlinks {
  position: relative;
  display: flex;
  height: 9vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#igb,
#wab,
#ige,
#wae,
#igg,
#wag {
  scale: 0.6;
  transition: transform 0.3s linear;
}
#mailb,
#maile,
#mailg {
  scale: 0.8;
  transition: transform 0.3s linear;
}

#igb:hover,
#wab:hover,
#ige:hover,
#wae:hover,
#igg:hover,
#wag:hover {
  transform: scale(1.2);
}
#mailb:hover,
#maile:hover,
#mailg:hover {
  transform: scale(1.2);
}

/*mode toggle*/
.modetoggle {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  right: 50px;
  top: 90vh;
  width: auto;
  z-index: 10;
}
#sun {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  margin-left: -5px;
}
#moon {
  width: 25px;
  height: 25px;
  padding-left: 5px;
}
.togicon {
  filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(0%)
    hue-rotate(150deg) brightness(92%) contrast(100%);
}
.row #todobutton {
  background-color: #575757;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#todobutton:hover {
  background: #555;
}
.buttoned {
  background-color: #d2d2d2;
  width: 40px;
  height: 20px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.buttoned::before {
  position: absolute;
  content: "";
  background-color: #757575;
  width: 11px;
  height: 11px;
  border-radius: 200px;
  margin: 5px;
  transition: 0.2s;
}

input:checked + .buttoned {
  background-color: #757575;
}

input:checked + .buttoned::before {
  transform: translateX(20px);
  background-color: #d2d2d2;
}

#check {
  display: none;
}

.footer {
  display: flex;
  background-color: #a01626;
  padding: 7vh 7vw;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
  gap: 5vw;
}
.footer p {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.footerleft {
  width: 45vw;
}
.footerlogo {
  font-size: 2.75vw;
  font-weight: 500;
  padding-bottom: 2vh;
}
.divider {
  width: 0.15vw;
  height: 47vh;
  background-color: #fff;
  margin: 0 10px;
}
.footerright {
  width: 45vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.footertitle {
  font-size: 2vw;
  padding-bottom: 1vh;
}
.footericon {
  width: 2.5vw;
  filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(0%)
    hue-rotate(150deg) brightness(92%) contrast(100%);
}
.untar p {
  padding: 0.75vh 0vw;
}
@media (max-width: 800px) {
  .theteam {
    flex-direction: column;
    width: 30vw;
  }
  .aboutncontact {
    margin-top: 600px;
    margin-bottom: -400px;
  }
  .brenda,
  .eryca,
  .gea {
    font-size: 1.5vw;
  }
  #ourteam {
    font-size: 3vw;
  }
}
@media (max-width: 650px) {
  .footer {
    flex-direction: column;
    font-size: 2vw;
  }
  .divider {
    width: 90vw;
    height: 0.15vh;
  }
  .aboutncontact {
    margin-top: 550px;
  }
  .brenda,
  .eryca,
  .gea {
    font-size: 2vw;
  }
  #ourteam {
    font-size: 4vw;
  }
}
@media (max-width: 550px) {
  .aboutncontact {
    margin-top: 450px;
    margin-bottom: -350px;
  }
  .brenda,
  .eryca,
  .gea {
    font-size: 2vw;
  }
  #ourteam {
    font-size: 4vw;
  }
}
