@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body{
  background: #fff;
}


/* <!-- 
- # SIDE BAR
--> */
nav {
  width: 100px;
  height: 30%;
  bottom: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0,0,0,0) ;
}

a{
  position: relative;
  color: rgba(85,83,83);
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
}

.fas{
position: relative;
width: 70px;
height: 40px;
top: 14px;
font-size: 20px;
text-align: center;
}
.nav-

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: rgb(66, 54, 54);
  text-decoration: none;
}

nav ul li a i {
  margin-right: 10px;
}

nav ul li a:hover {
  background-color: #ffffff;
}


/* <!-- 
- #TO DO LIST
--> */

.container-1 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #490d0d, #ffffff);
  padding: 10px;
}
.todo {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  display: none;
  transition: all 0.3s ease;
}
.todo h2 {
  color: #575757;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo h2 img {
  width: 60px;
  margin-left: 20px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dadad9;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 10px 50px;
  background: #868686;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font: size 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
/* ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50px;
  background-image: url(./imageIcon/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
} */
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  color: #555;
  text-decoration: line-through;
  background-image: url(./imageIcon/checked.png);
}
ul li span {
  position: absolute;
  right: 0%;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #dadad9;
}
