@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html{
  background-image: url('../background/room.jpg');
  background-size: cover; 
  background-position: center;
  margin: 0;
  padding: 0;
  /* overflow: visible; */
}
body {
  /* background-image: url('background/room.jpg');
  background-size: cover; 
  background-position: center; */
  margin: 0;
  padding: 0;
  overflow: visible;
}
body::-webkit-scrollbar {
  display: none;
}

/*header navigation*/
.uphead {
  display: flex;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  border-radius: 5px;
}
.enlogo {
  font-size: 25px;
  padding: 0px 0px 0px 50px;
  font-weight: 500;
  color: #A01626;
  background-color: transparent;
  transition: transform 0.3s linear;
}
.enlogo:hover{
  transform: scale(1.1);
}
.rightnav {
  padding-right: 50px;
}
#rightnavabout,
#rightnavcontact {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 17px;
  font-weight: 400;
  padding: 13px 15px;
  transition: transform 0.3s linear;
}
#rightnavabout:hover,
#rightnavcontact:hover{
  border-radius: 5px;
  transform: scale(1.1);
}

/*side bar*/
#music,
#clock,
#tdl,
#palette {
  color: black;
}
nav {
  width: 80px;
  height: 370px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  box-shadow: 0 20px 35px #0000001a;
  margin-top: 140px;
  margin-left: 15px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  nav {
    width: 70px;
    height: 300px;
    margin-top: 100px;
  }
  .logo {
    text-align: center;
    display: flex;
    transition: all 1s ease;
  }
  .icon-1{
    font-size:xx-small;
    padding: 10px;
  }
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo span {
  font-weight: bold;
  padding-left: 0px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgba(87, 87, 87);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  text-decoration: none;
  transition: background 0.3s ease;
  border-radius: 10%;
  margin-bottom: 1px;
  padding-top: 9%;
}
.icon,
.navbar-toggle,
#todo-button,
#music-button {
  transition: transform 0.3s linear;
}

.icon:hover,
.navbar-toggle:hover,
#todo-button:hover,
#music-button:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
.logo:hover {
  cursor: default;
}

.nav-item {
  margin-left: 20px;
}
.side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  position: fixed;
  padding: 0px;
  padding-left: 15px;
  width: 85px;
}

/*dark mode light mode toggle*/
.modetoggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  right: 50px;
  top: 90vh;
  width: auto;
}
#sun {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  margin-left: -5px;
}
#moon {
  width: 25px;
  height: 25px;
  padding-left: 5px;
}

.togicon {
  filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(0%)
    hue-rotate(150deg) brightness(92%) contrast(100%);
}

.buttoned {
  background-color: #d2d2d2;
  width: 40px;
  height: 20px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.buttoned::before {
  position: absolute;
  content: "";
  background-color: #757575;
  width: 11px;
  height: 11px;
  border-radius: 200px;
  margin: 5px;
  transition: 0.2s;
}

input:checked + .buttoned {
  background-color: #757575;
}

input:checked + .buttoned::before {
  transform: translateX(20px);
  background-color: #d2d2d2;
}

#check {
  display: none;
}

/*to-do list*/
.row #todobutton {
  background-color: #575757;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s linear;
}

#todobutton:hover {
  transform: scale(1.07);
}

.wrap{
  justify-content: baseline;
  align-items: center;
  min-height: 100vh;
  display:none;
}

.container-1 {
  width: 100%;  
  max-width: 400px; 
  max-height: 390px;
  margin-left: 150px;
  margin-top: 50px;
  position: relative;
  display: none;
  overflow-y: scroll;
  /* border: 1px solid #ccc; */
  padding: 0;
  /* margin: 0 auto;  */
  box-sizing: border-box; 
}

.container-1::-webkit-scrollbar {
  display: none;
}

.todo {
  width: 100%; 
  max-width: 400px;
  background: #fff;
  padding: 26px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 auto; 

}

.todo h2 {
  color: #575757;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo h2 img {
  width: 60px;
  margin-left: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dadad9;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

ul li {
  list-style: none;
  padding: 10px 10px 10px 10px;
  user-select: none;
  position: relative;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  color: #555;
  text-decoration: line-through;
  background-image: url(../imageIcon/checked.png);
}

ul li span {
  position: absolute;
  right: 0%;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
span {
  cursor: pointer;
  margin-left: 10px;
  color: red;
}

@media (max-width: 480px) {
  .todo {
    width: 95%;
    margin-top: 30px;
    padding: 20px;
    margin-right: 0;
  }

  .todo h2 img {
    width: 40px;
    margin-left: 10px;
  }

  ul li span {
    position: absolute;
    right: 0%;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
  }
}

.stats-container {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffdcdc1a; 
  box-shadow: 0px 4px 12px rgba(255, 250, 250, 0.3);
}

.stats-title {
  font-size: 24px;
  font-weight: bold;
}

.stats-subtitle {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
}

#progressBar {
  position: relative;
  width: 200px;
  height: 10px;
  background-color: #444;
  border-radius: 5px;
  overflow: hidden;
}

#progress {
  width: 0;
  height: 100%;
  background-color: #65c365;
  transition: width 0.5s ease;
}

#progress-section {
  display: flex;
  align-items: center;
  gap: 20px;
}


/*to-do list filter*/
form {
  display: flex;
  justify-content: space-between;
}

.filters {
  text-align: center;
  margin-bottom: 5px;
}

.filters button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #575757;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#completed-tasks:hover {
  background-color: #86ca58;
}
#pending-tasks:hover {
  background-color: #d05454;
}
#all-tasks:hover {
  background-image: url("../image/image.png");
}

#numbers {
  width: 60px;
  height: 60px;
  background-color: #706eff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
}

/* ambiance player */
.ambiance-section {
  display: none;
  width: 100%;
  max-width: 340px;
  height: 100%;
  max-height: 310px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
  margin-left: 150px;
  margin-top: 195px;
  position: absolute;
  z-index: 1000;
}
#firebutton,
#rainbutton,
#typebutton,
#keybutton,
#writebutton {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#firebutton img,
#rainbutton img,
#typebutton img,
#keybutton img,
#writebutton img {
  width: 70px;
  height: 70%;
  position: absolute;
  z-index: 10;
}
.ambicon {
  width: 10%;
  height: 10%;
}
#firevolicon, #rainvolicon, #keyvolicon, #typevolicon, #writevolicon{
  width: 30px;
}
.volicon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.fireslider,
.rainslider,
.keyslider,
.typeslider,
.writeslider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: visible;
  border-radius: 16px;
}
.fireslider::-webkit-slider-runnable-track,
.rainslider::-webkit-slider-runnable-track,
.keyslider::-webkit-slider-runnable-track,
.typeslider::-webkit-slider-runnable-track,
.writeslider::-webkit-slider-runnable-track {
  height: 2px;
  background: black;
  border-radius: 16px;
}
.fireslider::-webkit-slider-thumb,
.rainslider::-webkit-slider-thumb,
.keyslider::-webkit-slider-thumb,
.typeslider::-webkit-slider-thumb,
.writeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: -4px;
}
.Ambiance {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  min-height: 100vh;
  padding: 25px;
  border-radius: 7%;
}
.Ambiance p{
  text-align: center;
  font-weight: 600;
  font-size: 3vh;
  margin-top: -8px;
}
.fire,
.key,
.rain,
.type,
.write {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.firevolume,
.rainvolume,
.keyvolume,
.typevolume,
.writevolume {
  flex-grow: 3;
}

/* background chooser*/
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: background 0.5s;
}

.background-chooser {
  position: fixed;
  display: none;
  top: 20px;
  left: 20px;
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  transition: right 0.3s ease;
  z-index: 1000;
  margin-left: 150px;
  margin-top: 100px
}

.background-chooser.active {
  right: 20px;
}

.choices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.choice {
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.choice:hover {
  transform: scale(1.05);
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/*team about*/

.about{
  position: relative;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  height: 70vh;
}
.brenda,
.eryca,
.gea {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  width: 100px;
  text-align: center;
}
#deve {
  flex-direction: column;
  gap: 5px;
  background-color: #fff;

  padding: 20px;
}
#deve img {
  width: 100%;
  height: auto;
}

/*team contact*/
.contact{
  position: relative;
  top: 53%;
  left: 53%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60vw;
  height: 70vh;
}
.cntctbrenda,
.cntcteryca,
.cntctgea {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: 30vw;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.contactlinks{
  position: relative;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.instagram, .whatsapp,.email{
  display: flex;
  align-items: center;
}
#iglink:hover, #maillink:hover, #walink:hover {
  transform: scale(1.2);
}

/*team about and contact responsivity*/
@media screen and (max-width: 1000px) {
  .contact{
    font-size: 10px;
  }
  .about{
    font-size: 10px;
  }
}
@media screen and (max-width: 650px) {
  .contact{
    flex-direction: column;
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  .about {
    flex-direction: column;
    width: 100vw;
    gap: 2px;
    margin-top: 20px;
  }
  .brenda,
  .eryca,
  .gea {
    width: 100px;
    font-size: 10px;
  }
  .contact{
    flex-direction: column;
  }
}

@media screen and (max-height: 410px) {
  .about {
    display: none;
  }
  .brenda,
  .eryca,
  .gea {
    display: none;
  }
  .contact {
    display: none;
  }
}

@media screen and (max-height: 400px) {
  .contact {
    padding-top: 70px;
  }
}
@media screen and (max-height: 240px) {
  .contact {
    display: none;
  }
  .cntctbrenda,
  .cntcteryca,
  .cntctgea {
    display: none;
  }
  .contactlinks{
    display: none;
  }
  .instagram, .whatsapp,.email{
    display: none;
  }
}

.pomodoro-timer-box {
  position: absolute;
  display: none; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  /* background-color: #ffffff;  */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  width: 500px; 
  height: auto; 
  margin: 0; 
  overflow: hidden;
  margin-left: 150px;
  margin-top: 170px;
  color: #333; 
}

.pomodoro-timer {
  background-color: #fff; 
  /* color: #333;  */
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  width: 100%; 
}

#timer {
  font-size: 30px;
  color: #000; 
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background-color: #e0e0e0; 
  color: #000; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d0d0d0; 
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  gap: 7px;
}

.settings input[type="number"] {
  width: 50px;
  padding: 5px;
  /* margin-left: 10px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; 
}

#breakSeparator{
  padding-left: 15px;
}